<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scanPeriod="90 seconds">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{ISO8601} [%t] [%level] \(%c\) [%C::%M::%L] mdc:\(%mdc\)| %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>